.bigbt {
  @include font-size(12);
  font-family: var(--font-sans);
  font-weight: bold;
  background: #41B883;
  padding: .5% 2%;
  color: #fff;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;

-webkit-box-shadow: 0px 2px 1px rgba(68, 68, 68, 0.15);
-moz-box-shadow:    0px 2px 1px rgba(68, 68, 68, 0.15);
box-shadow:         0px 2px 1px rgba(68, 68, 68, 0.15);

      &:hover { background: #41B883; }

      &:active {
        -moz-box-shadow: 0 0 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
      }
}

/*

#foo:checked::before,
input[type="radio"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"] + label::before {
    content: url('../img/checkbox.png');
}

input[type="radio"]:checked + label::before {
    content: url('../img/checkbox-checked.png');
}
*/
