@mixin font-size($sizeValue: 16 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 16 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Noto+Serif:ital@0;1&display=swap');

:root {
  --font-sans: 'Noto Sans TC', sans-serif;
  --font-serif: 'Noto Serif', serif;
}

p { margin: 0 0 1.7% 0; }
em { font-style: italic; }
strong { font-weight: bold; }

ol li { list-style: decimal; font-weight: bold; }


h1 { @include font-size(25); }
h2 { @include font-size(22); }
h3 { @include font-size(20); }
h4 { @include font-size(18); }
h5 { @include font-size(16); }

h1, h2, h3, h4, h5 {
  font-family: var(--font-sans);
  color: $color2;
}

.small { @include font-size(7); }
