$color1: #f4c059; //green
$color2: #3aa1ec; //blue
$color3: #5a287f; //purple
$color4: #ff6767; //red
$body-color: #1A1A1A;
$lightgrey: #ccc;
@import "normalize";
@import "typography";
@import "misc";
@import "media-queries";

body {
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  line-height: 1.2;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
}

:focus {
  outline: 3px dotted $color1;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

img {
  max-width: 100%;
  height: auto;
}

#logo {
  text-align: center;
  width: 100%;
  margin: 2% 0 0;
  position: relative;
  z-index: 1;
}

#container {
  background: #fff;
  margin: 0 auto;
  max-width: 850px;
  @include breakpoint(xs) {
    padding: 0 2% 0 3%;
  }
}
//end container

#intro {
  font-size: 1.2rem;

  h1 {
    font-size: 2rem;
  }

  .kolb {
    font-size: 1.2rem;
  }

  ol li {
    margin-bottom: 5px;
  }
}

h2.stelling {
  text-transform: uppercase;
  letter-spacing: -.07em;
}

form#leerstijl {}

.number {}

span.stelling {
  color: $body-color;
  font-family: monospace;
  font-size: 1rem;
}

.odd {
  color: $color2;
}

.even {
  color: $color3;
}

.question-line label[for=question] {
  font-size: 1.6rem;
  font-family: var(--font-serif);
  font-style: italic;
  display: block;
  line-height: 1.5;
}

.question-line label[for=answer] {}

.answers {
  margin-bottom: 5%;
}

.radiobox {
  margin: 1% 0;
  font-family: var(--font-sans);
  font-size: 1rem;

  input[type=radio],
  label {
    display: inline;
    margin: 10px 0;
    @include breakpoint(xs) {
      margin: 10px 0;
    }
  }

  input[type=radio] {
    transform: scale(1.5);
    margin-right: 5px;
  }
}

#leerstijl p {}

.field {
  font-size: 1.2rem;

  input {
    font-family: var(--font-sans);
  }
}

.email {
  display: block;
  margin: 3% 0;

  input[type=email],
  label[for=email] {
    display: inline;
  }
}

select {
  font-family: var(--font-sans);
  font-size: 1rem;
}

.email input[type=email] {
  border: 1px solid $color2;
  font-size: 1rem;
  color: #666;
}

.email input[type=email]:focus {
  background: #222;
  color: #41B883;
}

.email input[type=checkbox] {
  appearance: none;
  border: 1px solid $color2;
  border-radius: 4px;
  outline: none;
  width: 25px;
  height: 25px;
}

.email input[type=checkbox]:checked {
  //background: $color2;
}

.email input[type=checkbox]:checked::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #41B883;
  font-weight: bold;
}

input[type=submit] {
  display: block;
}

.email {
  input {
    &:focus {}
  }
}

.controls {
  display: flex;
  justify-content: center;
}
/*
	######################################################
	################### RESULT PAGE ######################
	#####################################################
	*/
p.resUitleg {
  margin: 5% 0 2%;
}

span.kolb {
  display: block;
  margin: 0 0 5%;

  ol {
    margin: 0 0 2% 3%;

    li {
      margin: 0 0 0.5%;
    }
  }
}

p.resUitleg {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: bold;
  font-family: var(--font-sans);
}

div#resultaten {
  h2 {
    margin: 4% 0;
    text-align: center;
    padding-bottom: 1.3%;
    text-transform: uppercase;
    letter-spacing: -.06em;
  }

  h3 {
    font-size: 1.5rem;
    color: $body-color;
  }

  h3.category {
    font-size: 2.5rem;
  }

  div.resultaat {
    display: block;
    margin: 0 0 5%;
    padding: 0 0 2%;
    text-align: center;

    &:last-child {
      //margin-bottom: 2%;
      border: 0;
    }

    .category {
      display: block;

      h2 {
        margin: 0 0 0.5%;
      }

      img {
        margin: 0;
      }
    }

    p.score {
      font-family: monospace;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 10px;
    }

    .desc {
      text-align: left;

      p {
        font-size: 1.2rem;
        line-height: 1.3;
      }

      h4.tips {
        font-size: 1.5rem;
        margin: 0 0 0.5%;
      }

      ul {
        margin: 0 0 0 2%;
        list-style: disc outside none;
        font-size: 1.1rem;

        li {
          margin: 0 0 0.3%;
        }
      }
    }
  }
  //color for eacht result
  .Doener h3,
  .Doener h4 {
    color: $color3;
  }

  .Beslisser h3,
  .Beslisser h4 {
    color: $color4;
  }

  .Dromer h3,
  .Dromer h4 {
    color: $color1;
  }

  .Denker h3,
  .Denker h4 {
    color: $color2;
  }

  .save {
    display: block;
    margin-bottom: 5%;

    a {
      color: #01c1de;

      &:hover {
        color: #0797ad;
      }
    }
  }
}
//end resultaten

#foot {
  display: block;
  margin: 100px 0 20px;
  text-align: center;

  .icons {
    img {
      margin-right: 15px;
    }
    a img:hover {
      transform: scale(1.5);
    }
  }

  .copyright {
    margin-top: 20px;

    p {
      font-size: 0.9rem;
    }
  }
}
